<!-- <app-announcements [announcementFromApp] = 'announcement'>

  

</app-announcements> -->

<!-- <div class="app-container">

  <app-announcements class = "announcements" [announcementFromApp]='announcementFromApp[0]'> </app-announcements>
  <app-announcements class = "announcements" [announcementFromApp]='announcementFromApp[1]'> </app-announcements>

</div> -->

<!-- 
<app-announcements 
[announcement]="announcementFromApp"> 
</app-announcements>
-->

<!-- kind reminder: de folosit ngFor -->
<router-outlet>
  
</router-outlet>
